h1{
    text-align: center;
    color: white;
}
.jumbotron{
    background-color:rgb(99, 79, 79)}
button{
   align-items: right;
}
/* .container-fluid{
    height:100%; */

/* } */
.img{
  width: 220px;
  padding:10px;    
  border: 5px solid blue;
}
.names{
    color:white;
}
.user{
    color: rgb(255, 255, 255);
}