h1{
    text-align: center;
    color: white;
}
.jumbotron{
    box-shadow: 5px 5px 10px 10px grey;
    background-color:rgb(99, 79, 79)}
button{
   align-items: right;
}
/* .container-fluid{
    height:100%; */

/* } */
.img{
  width: 220px;
  padding:10px;    
  border: 5px solid rgb(218, 218, 218);
  box-shadow: 5px 5px 10px 10px grey;

}
.names{
    color:white;
}
.user{
    color: rgb(255, 255, 255);
}