 
/* .col-sm-10{
    background-color:yellowgreen;
} */
::placeholder{
    color: rgb(170, 95, 95);
    font-size: 25px;
    font-family: 'Oleo Script', cursive;
  }
  input{
      background-color: rgb(255, 255, 255);
  }